<% provide(:title, "New Invoice") %> 
<%= javascript_include_tag "invoices" %>

<!--invoice details-->

<div class="row">
	<div class="container">

		<div class="row">
			<div class="span12">
				<div class="well span4 pull-left">
					<h4>User Details</h4>
					<p><strong>Contact email:</strong>  User Company</p>
					<p><strong>User: </strong><%= @invoice.user_name %></p>
	  				<p><strong>Contact email: </strong><%= @invoice.user_contact_email %></p>
				</div>
				
				<div class="well span4 pull-right">
					<p><strong>Invoice: </strong><%= @invoice.name %></p>
	  				<p><strong>Billing cycle: </strong><%= @invoice.billing_cycle %></p>
	  				<p><strong>Payment info: </strong><%= @invoice.payment_info %></p>
	  				<p><strong>Invoice start date: </strong><%= @invoice.start_date %></p>
	  				<p><strong>Invoice end date: </strong><%= @invoice.end_date %></p>
	  				<p><strong>Expected payment date: </strong><%= @invoice.expected_payment_date %></p>
	  				<p><strong>Status: </strong><%= @invoice.status %></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<div class="well span4 pull-left">
					<h4>Account Details</h4>
					<p><strong>Name: </strong><%= @invoice.account_name %></p>
  					<p><strong>Contact: </strong><%= @invoice.account_contact_name %></p>
	  				<p><strong>Email: </strong><%= @invoice.account_contact_email %></p>
				</div>
			</div>
		</div>

  								    	
  	</br>
  	</br>
  	</br>
 		
<!---mrr_amounts-->
<legend>Monthly Recurring Costs</legend>

  <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th style="width: 40%">Name</th>
          <th style="width: 20%">Cost</th>
          <th style="width: 20%">Quantity</th>
          <th style="width: 20%">Total</th>
        </tr>
      </thead>
  
        
      <tbody>
        <% @invoice_basecost.each do |basecost| %>
        <tr>
          <td><%= basecost.name %></td>
          <td>$<%= basecost.cost %></td>
          <td><%= basecost.quantity %></td>
          <td>$<%= basecost.total %></td>
        <tr>
        <% end %>          
      </tbody>
  </table> 

</br>
</br>


<!---unit_amounts-->
<legend>Metered Costs</legend>
  <% @invoice_units.each do |units| %>
    <table class="table table-condensed table-bordered">
      <caption><h4 class="pull-left"><%= units.name %></h4></caption>
      <thead>
        <tr>
          <th>Date charged</th>
          <th>Quantity</th>
          <th>Price/ unit</th>
          <th>Daily total</th>
        </tr>
      </thead>
  
        
          <tbody>
            <tr>
            <% units.tallys.where(:date.gte => @invoice.start_date).and(:date.lt => @invoice.end_date).each do |tally| %>
              <td><%= tally.date %></td>
              <td><%= tally.quantity %></td>
              <td>$<%= tally.amount_unit %></td>
              <td>$<%= tally.amount_total %></td>
            <tr>  
            <% end %>        
          </tbody>
    </table>      
        
    <div class="row">
      <div class="span5 offset7">
        <div class="pull_right">
          <% unit_tally = units.tallys.where(:date.gte => @invoice.start_date).and(:date.lt => @invoice.end_date) %>
          <h5> <%= units.name %> total: $<%= unit_tally.sum(:amount_total).to_i %></h5>
        </div>
      </div>
    </div>
  </br>
  </br>
  <% end %>


<div class="row">
  <div class= " well span2 pull-right">
    <h5> Total Due: $<%= @invoice.amount %></h5>
  </div>
</div>