<% provide(:title, "New Invoice") %> 
<%= javascript_include_tag "invoices" %>

<!--Account overview-->
<div class="row">
	<div class="container">

		<div class="row">
  			<div class="span12">
  		    <legend> Account Details</legend>		
  				<div class="well span4 pull-left">
 			
  					<p>Account: <strong><%= @account.name %></strong></p>
  					<p>Contact name: <strong><%= @account.contact_name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>

  			  </div>
  			</div>	
  	</div>

<!--New Invoice data input-->
  		<div class="row">
  			<div class="span12">
  				<legend>Invoice details</legend>
          <div class="well span9">
            
  					<%= form_for(@invoice, :url => {:controller => :invoices, :action => :create}) do |f| %>
  						<div class="form">	
  							<div class="row">
  								<div class="span9">
  									<div class="span4">
  										<%= f.text_field :name, :required => true, placeholder:"Invoice name" %>	
  									</div>
  								</div>
  							</div>

  							<div class="row">
  								<div class="span9">
  									<div class="span4">
										<p>Date to begin invoice</p>	
  											<%= f.date_select :date_begin %>
  									</div>
  									<div class="span4">
			  							<p>Date to end invoice</p>
  											<%= f.date_select :date_end %>
  									</div>
  								</div>
  							</div>

  							<div class="row">
  								<div class="span9">	
  									<div class="span4">
  										<p>Billing Cycle</br/>
  											</br>
  												<%= f.radio_button :billing_cycle, 'Daily' %>  Daily<br/>
  												<%= f.radio_button :billing_cycle, 'Monthly' %>  Monthly<br/>
  												<%= f.radio_button :billing_cycle, 'Yearly' %>  Yearly 
										</p>
										</br>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="span9">
									<div class="span4">
										<%= f.submit "Save", class: "btn btn-primary" %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
  				</div>
  			</div>
  		</div>

<!--Add new unit-->

    <div class="row">
      <div class="span12">
        <div class="row">
          <legend>New Unit</legend> 
            <div class="row"> 
              <div class="span12">  
                <div class="well span9">
                  <button class="btn btn-primary" type="button">New Unit
                  </button> 
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>






	</div>
</div>