<% provide(:title, "New Invoice") %> 
<%= javascript_include_tag "invoices" %>

<!--invoice details-->

<div class="row">
	<div class="container">

		<div class="row">
			<div class="span12">
				<div class="well span4 pull-left">
					<h4>User details Details</h4>
					<p>User: <strong><%= @user.name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
				</div>
				
				<div class="well span4 pull-left">
					<p><strong>Invoice Name</strong></p>
	  				<p><strong>Invoice #</strong></p>
	  				<p><strong><%= @deal.billing_cyle %></strong></p>
	  				<p><strong>Invoice start date</strong></p>
	  				<p><strong>Invoice end date</strong></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<div class="well span4 pull-left">
					<h4>Account Details</h4>
					<p>Name: <strong><%= @account.name %></strong></p>
  					<p>Contact: <strong>Account contact</strong></p>
	  				<p>Email: <strong>Account email</strong></p>
				</div>
			</div>
		</div>

<!--Unit-->

   
	<% @unit.each do |unit| %>
	    <div class="row">
    	  <table class="span12">
        	<div class="row">
          <legend>New Unit</legend> 
            <a class="btn btn-primary btn-large pull-left" type="button"  href="<%= new_account_invoice_unit_path(@account, @invoice) %>">New Unit
    		</a>
        </div>
      </div>
    	</div>
    <% end %>

 

<!--Edit-->

		<div class="row">
			<div class="span11">
				<a class="btn btn-primary btn-large pull-right" type="button"> Edit </a>
			</div>
		</div>


	

	</div>
</div>