<% provide(:title, "Approval") %> 


<div calss="row">
	<div class="container">
	<div class="span12">
		<legend style="margin-top: 20px;">Invoices that require approval</legend>
		<table class="table table-hover center">
    		<thead>
		      <tr>
		        <th style="width: 15%">Invoice name</th>
		        <th style="width: 13%">Account</th>
		        <th style="width: 15%">Deal</th>
		        <th style="width: 12%">Start date</th>
		        <th style="width: 12%">End date</th>
		        <th style="width: 10%">Amount</th>
		        <th style="width: 23%"></th>
		      </tr>
		    </thead>

		    <tbody>
		    <tr>	
		      <% @invoice.each do |invoice| %>
		        <td><a href="/invoices/client_invoice_view/<%= invoice.id %>"><%= invoice.name %></a></td>
		        <td><%= invoice.account.name %></td>
		        <td><%= invoice.deal.name %></td>
		        <td><%= invoice.start_date %></td>
		        <td><%= invoice.end_date %></td>
		        <td>$<%= invoice.amount/100.00 %></td>
		        <td><%= link_to "edit invoice", edit_deal_invoice_path(invoice.deal, invoice) %> | <%= link_to "send invoice", email_invoice_deal_invoice_path(invoice.deal, invoice), method: :put, confirm: "Are you sure you want to send this invoice?" %></td>
		      </tr>
		      <% end %>
		    </tbody>
		</table>
	</div>
</div>
</div>
</br>
</br>
<div calss="row">
	<div class="container">
	<div class="span12">
		<legend>Reminder emails that require approval</legend>
		<table class="table table-hover center">
    		<thead>
		      <tr>
		        <th style="width: 15%">Invoice name</th>
		        <th style="width: 13%">Account</th>
		        <th style="width: 15%">Deal</th>
		        <th style="width: 12%">Payment date</th>
		        <th style="width: 12%">Days overdue</th>
		        <th style="width: 10%">Amount</th>
		        <th style="width: 23%"></th>
		      </tr>
		    </thead>

		    <tbody>
		    <tr>	
		      <% @reminder_invoice.each do |invoice| %>
		        <td><a href="https://bounceup.herokuapp.com/invoices/client_invoice_view/<%= invoice.id %>"><%= invoice.name %></a></td>
		        <td><%= invoice.account.name %></td>
		        <td><%= invoice.deal.name %></td>
		        <td><%= invoice.expected_payment_date %></td>
		        <td><%= (Date.today - invoice.expected_payment_date).to_i %></td>
		        <td>$<%= invoice.amount/100.00 %></td>
		        <td><%= link_to "edit invoice", edit_deal_invoice_path(invoice.deal, invoice) %> | <%= link_to "send reminder", email_reminder_deal_invoice_path(invoice.deal, invoice), method: :put, confirm: "Are you sure you want to send this invoice?" %></td>
		      </tr>
		      <% end %>
		    </tbody>
		</table>
	</div>
</div>
</div>