<%= provide(:title, @user.name) %>

<div class="row">
<div class="container">
  <aside class="span4">
  	<section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span12 offset10">
    <button class="btn btn-primary" type="button"><%= link_to "New Account", new_account_path %>
    </button>
  </div>

  <table class="table table-hover">
    <caption> Table listing accounts </caption>
    <thead>
      <tr>
        <th>Account</th>
        <th>Invoices</th>
        <th>Last updated</th>
      </tr>
    </thead>

    <tbody>
      <% @account.each do |t| %>
      <tr>
        <td> <%= link_to t.name, url_for(t)  %></td>
        <td>#</td>
        <td><%= t.updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>