<%= provide(:title, @user.name) %>

<div class="row">
<div class="container">
  <aside class="span4">
  	<section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span12 offset10">
    <button class="btn btn-primary" type="button"><%= link_to "New Account", new_account_path %>
    </button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 30%">Account</th>
        <th style="width: 17.5%">Overdue</th>
        <th style="width: 17.5%">Active</th>
        <th style="width: 17.5%">Waiting on payment</th>
        <th style="width: 17.5%">Closed</th>
      </tr>
    </thead>

    <tbody>
      <% @account.each do |account| %>
        <td><%= link_to account.name, url_for(account)  %></td>
        <td><%= account.invoices.where(status: "Overdue").count %></td>
        <td><%= account.invoices.where(status: "Active").count %></td>
        <td><%= account.invoices.where(status: "waiting_on_payment").count %></td>
        <td><%= account.invoices.where(status: "Closed").count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>