<% provide(:title, "Edit Deal") %> 

<div class="row">
	<div class="container">

<!--Update Deal Overvoew-->
  <legend style="margin-top: 20px;">edit deal</legend>  
  
    <div class="span6">
		  
					<%= form_for (@deal) do |deal_show| %>
						<div class="form">
							<div class="row">
  								<div class="span9">
  									<div class="span14">
  										<%= deal_show.label :name %>
  										<%= deal_show.text_field :name %>	
  									</div>

  								</div>
  							</div>

  							<div class="row">
  								<div class="span9">
  									<div class="span4">
										<p>Date to begin deal</p>
  											<%= deal_show.date_select :start_date %>
  										</div>
  									<div class="span4">
  										<p>Date to end invoice</p>
  											<%= deal_show.date_select :end_date%>
  									</div>
  								</div>
  							</div>

  							<div class="row">
  								<div class="span9">	
  									<div class="span3">
  										<p>Billing Cycle</br/>
  										</br>
  											<%= deal_show.radio_button :billing_cycle, 'Daily' %>  Daily<br/>
                        <%= deal_show.radio_button :billing_cycle, 'Weekly' %>  Weekly<br/>
  											<%= deal_show.radio_button :billing_cycle, 'Monthly' %>  Monthly<br/>
  											<%= deal_show.radio_button :billing_cycle, 'Yearly' %>  Yearly 
										  </p>
										  </br>
									   </div>

                    <div class="span4 offset1">
                      <p>Payment Info</br/>
                      </br>
                        Net:<%= deal_show.text_field :payment_info %>
                      </p>
                      </br>
                    </div> 

								</div>
							</div>
						</div>

						<div class="row">
							<div class="span14">
								<div class="span4 pull-right">
									<%= deal_show.submit "Save", class: "btn btn-primary" %>
								</div>
							</div>
						</div>
					<% end %>
    </div>      
	</div>
</div>