<% provide(:title, "New Unit") %> 

<div class="row">
	<div class="container">

<!--acount details-->

    <div class="row">
        <div class="span12">  
      
          <legend><h3 style="width: 940px; margin-top: 20px;">deal</h3></legend>
         
            <legend>account details <a class="btn pull-right" type="button" href= "<%= edit_account_path(@account) %>" >edit account
                  </a></legend>
            <div class="span12">
            <ul class="account">
              <li><p><strong>account: </strong><%= @account.name %></p></li>
              <li><p><strong>contact name: </strong><%= @account.contact_name %></p></li>
              <li><p><strong>contact email: </strong><%= @account.contact_email %></p></li>
            </ul>
            </div>


<!--Show overview of deal-->
         
         </br></br>
          <legend>deal overview <a class="btn pull-right" type="button" href= "<%= edit_deal_path(@deal) %>" >edit deal</a></legend>
          
          <div class="span2 pull-left">
          <ul class="account">
              <li><p><strong>Name: </strong><%= @deal.name %></p></li>
              <li><p><strong>Billing Cycle: </strong><%= @deal.billing_cycle %></p></li>
              <li><p><strong>Payment Info: </strong><%= @deal.payment_info %></p></li>
              <li><p><strong>Date Begin: </strong><%= @deal.start_date %></p></li>
              <li><p><strong>Date End: </strong><%= @deal.end_date %></li>
            </ul>
          </div> 

          <div class="span8 pull-right">
              <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                          <th style="width: 40%">Recurring Cost</th>
                          <th style="width: 25%">Amount</th>
                          <th style="width: 15%">Quantity</th>
                          <th style="width: 13%"></th>
                        </tr>
                    </thead>

                    <tbody>
                      <% @basecost.each do |basecost| %>
                      <tr>
                            <td><%= basecost.name  %></td>
                            <td>$<%= basecost.cost %></td>
                          <td><%= basecost.quantity %></td>
                          <td> <a href= "<%= edit_deal_basecost_path(@deal, basecost) %>">edit</a>  | <%= link_to 'delete', [@deal, basecost], :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
              </table>
            <a class="btn pull-left" type="button" href= "<%= new_deal_basecost_path(@deal) %>" style="margin-top: -5px;"> + new recurring cost</a>
            
            <table class="table table-bordered table-condensed" style="margin-top: 20px;">
                    <thead>
                        <tr>
                          <th style="width: 25%">Unit</th>
                          <th style="width: 10%">Amount</th>
                          <th style="width: 50%">Secret key</th>
                          <th style="width: 15%"></th>
                        </tr>
                    </thead>
                  </br>
                  </br>
                    <tbody>
                      <% @unit.each do |unit| %>
                      <tr>
                            <td><%= unit.name  %></td>
                            <td>$<%= unit.amount %></td>
                          <td><%= unit.access_token %></td>
                          <td><a href= "<%= edit_deal_unit_path(@deal, unit) %>">edit</a> | <%= link_to 'delete', [@deal, unit], :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
            </table>
          <a class="btn pull-left" type="button" href= "<%= new_deal_unit_path(@deal) %>" > + metered billing</a>
          </div>          

        </div>  
      </div>


    </br>  

<!--List of invoices-->



  <legend><h3 style="width: 940px">invoices</h3></legend>

      <table class="table table-hover table-bordered table-condensed">
        <caption><h5 class="pull-left">Active</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days to payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Active" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered table-condensed">
        <caption><h5 class="pull-left">Waiting on payment</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days to payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "waiting_on_payment" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered table-condensed">
        <caption><h5 class="pull-left">Overdue</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment date</th>
              <th style="width: 22.5%">Days overdue</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Overdue" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (Date.today - invoice.expected_payment_date).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered table-condensed">
        <caption><h5 class="pull-left">Closed</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days since payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Closed" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (Date.today - invoice.status_closed_date).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>



    </div>
	</div>
</div>