<% provide(:title, "New Unit") %> 
<h1>	Deal Sumary</h1>

<div class="row">
	<div class="container">

<!--Show Invoice and acount details-->

		<div class="row">
		<legend>Account details</legend>
			<div class="span12-centered">

				<div class="well span4 pull-left">
					<p>Account: <strong><%= @account.name %></strong></p>
  					<p>Contact name: <strong><%= @account.contact_name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
				</div>

			</div>
		</div>




<!--Show overview of deal & Units-->

		<div class="row">
			<div class="span12">
				<legend>Deal Terms</legend>
				<div class="container-fluid">
  					<div class="row-fluid">
    					<div class="well span3">
      						<p>1. Deal Overview</p>
      						<p>2. Deal Terms</p>
      						<p><strong>3. Finish/ Summary</strong></p>
      						</br>
      						</br>
      						</br>
      						</br>
    					</div>
    					
    					<div class="well span9">
      						<legend>Deal Overview <a class="btn pull-right" type="button" href= "<%= edit_deal_path(@deal) %>" >Edit Overview
    							</a></legend>
      							<p>Name: <strong><%= @deal.name %></strong></p>
	  							<p>Billing Cycle: <strong><%= @deal.billing_cycle %></strong></p>
                  <p>Payment Info: <strong><%= @deal.payment_info %></strong></p>
		  						<p>Date Begin: <strong><%= @deal.start_date %></strong></p>
	  							<p>Date End: <strong><%= @deal.end_date %></strong></p>

	  						<legend>Deal Terms</legend>
	  							<table class="table">
                    <thead>
                        <tr>
                          <th>Monthly Cost</th>
                          <th>Amount</th>
                          <th>Quantity</th>
                        </tr>
                    </thead>

                    <tbody>
                      <% @basecost.each do |basecost| %>
                      <tr>
                            <td><%= basecost.name  %></td>
                            <td>$<%= basecost.cost %></td>
                          <td><%= basecost.quantity %></td>
                          <td class="pull-right"> <a href= "<%= edit_deal_basecost_path(@deal, basecost) %>">edit</a>  | <%= link_to 'delete', [@deal, basecost], :method => :delete %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <a class="btn pull-left" type="button" href= "<%= new_deal_basecost_path(@deal) %>" > + New Recurring Cost</a>

                  <table class="table">
	  								<thead>
      									<tr>
        									<th>Unit name</th>
        									<th style="width: 15%">Unit amount</th>
        									<th>Secret key</th>
      									</tr>
    								</thead>
                  </br>
                  </br>
    								<tbody>
	  									<% @unit.each do |unit| %>
	  									<tr>
      								  		<td><%= unit.name  %></td>
        							  		<td>$<%= unit.amount %></td>
        									<td><%= unit.access_token %></td>
        									<td class="pull-right"><a href= "<%= edit_deal_unit_path(@deal, unit) %>">edit</a> | <%= link_to 'delete', [@deal, unit], :method => :delete %></td>
  								    	</tr>
  										<% end %>
  									</tbody>
  								</table>
  							<a class="btn pull-left" type="button" href= "<%= new_deal_unit_path(@deal) %>" > + New Unit</a>
    					</div>
  					</div>
          </div>
				</div>
			</div>
		</div>

<!--List of invoices-->

<style>
  table { table-layout: fixed; }
</style>

    <div class="span12 offset2">
      <legend>All invoices </legend>
      <table class="table table-hover table-bordered">
        <caption><h5 class="pull-left">Active</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days to payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Active" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered">
        <caption><h5 class="pull-left">Waiting on payment</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days to payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "waiting_on_payment" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered">
        <caption><h5 class="pull-left">Overdue</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment date</th>
              <th style="width: 22.5%">Days overdue</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Overdue" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (Date.today - invoice.expected_payment_date).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>


      <table class="table table-hover table-bordered">
        <caption><h5 class="pull-left">Closed</h5> </caption>
        <thead>
            <tr>
              <th style="width: 22.5%">Start date</th>
              <th style="width: 22.5%">End date</th>
              <th style="width: 10%">$</th>
              <th style="width: 22.5%">Payment Date</th>
              <th style="width: 22.5%">Days to payment</th>
            </tr>
        </thead>

        <tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Closed" %>
            <tr>
              <td><%= link_to invoice.start_date, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td><%= invoice.end_date %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>



    </div>
	</div>
</div>