<% provide(:title, "Edit Unit") %> 


<div class="row">
	<div class="container">
		<legend style="margin-top: 20px;">edit unit</legend>
		<div class="span6 offset3">
		<%= form_for(@unit, :url => deal_unit_path) do |unit| %>
			<div class="form">
				<%= unit.label :name %>
				<%= unit.text_field :name, :required => true %>
				<%= unit.label :amount %>
				<%= unit.text_field :amount, :required => true %>
				<%= unit.submit "Save", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>

	</div>
</div>