<% provide(:title, "New Unit") %> 
<h1>Create New Unit</h1>

<div class="row">
<div class="container">

<!--Show Invoice and acount details-->

		<div class="row">
		<legend>Account & Invoice details</legend>
			<div class="span12-centered">

				<div class="well span4 pull-left">
					<p>Account: <strong><%= @account.name %></strong></p>
  					<p>Contact name: <strong><%= @account.contact_name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
				</div>

				<div class="offset5">
					<div class="well span4 pull-left">
						<p>Name: <strong><%= @deal.name %></strong></p>
	  					<p>Billing Cycle: <strong><%= @deal.billing_cycle %></strong></p>
		  				<p>Date Begin: <strong><%= @deal.start_date %></strong></p>
	  					<p>Date End: <strong><%= @deal.end_date %></strong></p>
					</div>
				</div>
			</div>
		</div>


	<!--Unit input-->

		<div class="row">
			<div class="span12">
				<legend>Deal Terms</legend>
				<div class="container-fluid">
  					<div class="row-fluid">
    					<div class="well span3">
      						<p>1. Deal Overview</p>
      						<p><strong>2. Deal Terms</strong></p>
      						<p>3. Finish/ Summary</p>
      						</br>
      						</br>
      						</br>
      						</br>
      					
      					
    					</div>
    					
    					<div class="well span9">
      							<%= form_for(@unit, :url => {:controller => :units, :action => :create}) do |f| %>
  									<div class="form">	
  										<div class="row">
  											<div class="span11">
  												<div class="span7 offset1">
  													<%= f.text_field :name, :required => true, placeholder:"Unit name" %>	
  												</div>
  												<div class="span2">
  													<%= f.text_field :amount, :required => true, placeholder:"$" %>
  												</div>
  												<div class="span2">
  													<%= f.submit "Save", class: "btn" %>
  												</div>
  											</div>
  										</div>
  									</div>
  								<% end %>

  								<a class="btn btn-primary pull-right" type="button" href= "<%= deal_path(@deal) %>" >Finish
    							</a>
							
    					</div>
  					</div>
				</div>
			</div>
		</div>


</div>
</div>	