<% provide(:title, "New Unit") %> 
<h1>Create New Unit</h1>

<div class="row">
<div class="container">

<!--Show Invoice and acount details-->

		<div class="row">
		<legend>Account & Invoice details</legend>
			<div class="span12-centered">

				<div class="well span4 pull-left">
					<p>Account: <strong><%= @account.name %></strong></p>
  					<p>Contact name: <strong><%= @account.contact_name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
				</div>

				<div class="offset5">
					<div class="well span4 pull-left">
						<p>Name: <strong><%= @invoice.name %></strong></p>
  						<p>Number: <strong><%= @invoice.number %></strong></p>
	  					<p>Billing Cycle: <strong><%= @invoice.billing_cycle %></strong></p>
		  				<p>Date Begin: <strong><%= @invoice.date_begin %></strong></p>
	  					<p>Date End: <strong><%= @invoice.date_end %></strong></p>
					</div>
				</div>
			</div>
		</div>

<!--unit naming-->

	<legend>New Unit</legend>
	<div class="span6">
		<%= form_for(@unit, :url => {:controller => :units, :action => :create}) do |unit| %>
			<div class="form">
				<%= unit.text_field :name, :required => true, placeholder:"New Unit name" %>
				<%= unit.submit "Save", class: "btn btn-large" %>
			</div>
		<% end %>
	</div>


</div>
</div>	