<% provide(:title, "New Unit") %> 

<div class="row">
<div class="container">

<!--Show Invoice and acount details-->

		<legend style="margin-top: 20px;">account & deal terms</legend>
      <div class="container">

        <div class="span5">
          <legend><h4>account</h4></legend>
          <ul class="account">
            <li><p><strong>Account: </strong><%= @account.name %></p></li>
            <li><p><strong>Contact name: </strong><%= @account.contact_name %></p></li>
            <li><p><strong>Contact email: </strong><%= @account.contact_email %></p></li>
          </ul>
        </div>


        <div class="span5">
          <legend><h4>deal terms</h4></legend>
          <ul class="account">
            <li><p><strong>Name: </strong><%= @deal.name %></p></li>
            <li><p><strong>Billing Cycle: </strong><%= @deal.billing_cycle %></p></li>
            <li><p><strong>Payment Info: </strong><%= @deal.payment_info %></p></li>
            <li><p><strong>Date Begin: </strong><%= @deal.start_date %></p></li>
            <li><p><strong>Date End: </strong><%= @deal.end_date %></p></li>
          </ul>
        </div> 

      </div>



	<!--Unit input-->

		<div class="row">
      <div class="span12">
        <legend style="margin-top: 20px;">new deal</legend>

        <div class="span2 pull-left">
          <ul class="account">
              <li><p>1. deal terms</p></li>
              <li><p>2. base costs</p></li>
              <li><p><strong>3. metered billing</strong></p></li>
              <li><p>4. finish/ summary</p></li>
            </ul>
        </div> 
    					
    					<div class="span9 pull-right">
      							<%= form_for(@unit, :url => {:controller => :units, :action => :create}) do |f| %>
  									<div class="form">	
  										<div class="row">
  												<div class="span7">
  													<%= f.text_field :name, :required => true, placeholder:"Unit name" %>	
  												</div>
  												<div class="span2">
  													<%= f.text_field :amount, :required => true, placeholder:"$" %>
  												</div>
  												<div class="span1 pull-right">
  													<%= f.submit "Save", class: "btn btn-primary" %>
  												</div>
  										</div>
  									</div>
  								<% end %>
							<a class="btn pull-right" type="button" href= "<%= deal_path(@deal) %>" style="margin-top: -15px" > no units at this time</a>
    					</div>
  					</div>
				</div>
			</div>
		</div>


</div>
</div>	