<% provide(:title, "Edit Recurring Cost") %> 

<div class="row">
	<div class="container">
		<legend style="margin-top: 20px;">edit base cost</legend>
		<div class="span6 offset3">
		<%= form_for(@basecost, :url => deal_basecost_path) do |basecost| %>
			<div class="form">
				<%= basecost.label :name %>
				<%= basecost.text_field :name, :required => true %>
				<%= basecost.label :cost %>
				<%= basecost.text_field :cost, :required => true, value:@amount  %>
				<%= basecost.label :quantity %>
				<%= basecost.text_field :quantity, :required => true %>
				<%= basecost.submit "Save", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>

	</div>
</div>