<% provide(:title, "New Base Cost") %>

<div class="row">
  <div class="container">

  <!--Show Invoice and acount details-->
    <legend style="margin-top: 20px;">account &amp; deal terms</legend>
      <div class="container">

        <div class="span5">
          <legend><h4>account</h4></legend>
          <ul class="account">
            <li><p><strong>Account: </strong><%= @account.name %></p></li>
            <li><p><strong>Contact name: </strong><%= @account.contact_name %></p></li>
            <li><p><strong>Contact email: </strong><%= @account.contact_email %></p></li>
          </ul>
        </div>

        <div class="span5">
          <legend><h4>deal terms</h4></legend>
          <ul class="account">
            <li><p><strong>Name: </strong><%= @deal.name %></p></li>
            <li><p><strong>Billing Cycle: </strong><%= @deal.billing_cycle %></p></li>
            <li><p><strong>Payment Info: </strong><%= @deal.payment_info %></p></li>
            <li><p><strong>Date Begin: </strong><%= @deal.start_date %></p></li>
            <li><p><strong>Date End: </strong><%= @deal.end_date %></p></li>
            <li><p><strong>PO #: </strong><%= @deal.po_number %></p></li>
          </ul>
        </div>
      </div>

      <!--Unit input-->
      <div class="row">
        <div class="span12">
          <legend style="margin-top: 20px;">new deal</legend>

          <div class="span2 pull-left">
            <ul class="account">
                <li><p>1. deal terms</p></li>
                <li><p><strong>2. base costs</strong></p></li>
                <li><p>3. metered billing</p></li>
                <li><p>4. finish/ summary</p></li>
              </ul>
          </div>

          <div class="span9 pull-right">
            <%= form_for(@basecost, html: {class: 'form-inline'}, url: {controller: :basecost, action: :create}) do |f| %>
              <%= f.text_field :name, class: 'input-medium', required: true, placeholder:"Name" %>
              <label class="text_field" style="padding:0 20px 0;">
                $ <%= f.text_field :cost,  class: 'input-small', required: true, placeholder:"0.00" %>
              </label>
              <%= f.text_field :quantity, class: 'input-small', required: true, placeholder:"quantity" %>
              <%= f.submit "save", class: "btn btn-primary" %>
            <% end %>
            <a class="btn pull-right" type="button" href= "<%= new_deal_unit_path(@deal) %>" style="margin-top: -10px;" > no recurring costs at this time</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>