<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <%= link_to image_tag("logo_header.png"), current_user, id: "logo" %>
      <% else %>
        <%= link_to image_tag("logo_header.png"), root_path, id: "logo" %>
      <% end %>
      <nav>
        <ul class="nav pull-right" style="padding-top: 15px;">
          <li><%= link_to "about", about_path %></li>
          <li><%= link_to "docs", docs_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                user <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li style="padding: 10px 0px 0px 0px;"><%= link_to "profile", current_user %></li>
                <li style="padding: 10px 0px 0px 0px;"><%= link_to "settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li style="padding: 10px 0px 0px 0px;">
                  <%= link_to "sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>