<% provide(:title, "Account details") %> 

<h1>Acount Overview</h1>

<div class="row">
	<div class="container">

  		<div class="row">
  		<div class="span12">	
  			<div class="well span6 pull-left">
          <legend>Account details<a class="btn pull-right" type="button" href= "<%= edit_account_path(@account) %>" >Edit details
                  </a></legend>
  				<p>Account: <strong><%= @account.name %></strong></p>
  				<p>Contact name: <strong><%= @account.contact_name %></strong></p>
  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
  			</div>
  		</div>	
  		</div>
  		
  		<div class="row">	
  		<div class="span12">	
 	 		<a class="btn btn-primary btn-large pull-right" type="button" href= "<%= new_deal_path(account_id: @account.id) %>" >New Deal
    		</a>
    	</div>
    	</div>

<!--Deal list -->

      <div class="span12">
      <table class="table table-hover table-bordered table-condensed">
        <legend>All Deals</legend>
        <thead>
            <tr>
              <th style="width: 50%">Deal name</th>
              <th style="width: 15%">Start date</th>
              <th style="width: 15%">End date</th>
              <th style="width: 15%">Billing Cycle</th>
              <th style="width: 5%"></th>
            </tr>
        </thead>

        <tbody>
          <% @deals.each do |deal| %>
            <tr>
              <td><%= link_to deal.name, url_for(deal)  %></td>
              <td><%= deal.start_date %></td>
              <td><%= deal.end_date%></td>
              <td><%= deal.billing_cycle%></td>
              <td> <%= link_to 'delete', deal, :method => :delete, confirm: "Are you sure you want to delete this deal?", title: deal.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

<!--List of invoices-->

    	<div class="span12">
      <legend> Invoices </legend>
    	<table class="table table-hover table-bordered table-condensed">
    		<caption><h5 class="pull-left">Active</h5> </caption>
    		<thead>
            <tr>
              <th style="width: 30%">Invoice</th>
              <th style="width: 10%">$</th>
              <th style="width: 15%">Start Date</th>
              <th style="width: 15%">End Date</th>
              <th style="width: 15%">Payment Date</th>
              <th style="width: 15%">Days to payment</th>
            </tr>
    		</thead>

    		<tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Active" %>
            <tr>
              <td><%= link_to invoice.name, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.start_date %></td>
              <td><%= invoice.end_date %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
  		</table>
  		</div>


  		<div class="span12">
    	<table class="table table-hover table-bordered table-condensed">
    		<caption><h5 class="pull-left">Waiting on payment</h5> </caption>
    		<thead>
      			<tr>
              <th style="width: 30%">Invoice</th>
              <th style="width: 10%">$</th>
              <th style="width: 15%">Start Date</th>
              <th style="width: 15%">End Date</th>
              <th style="width: 15%">Payment Date</th>
              <th style="width: 15%">Days to payment</th>
            </tr>
    		</thead>

    		<tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "waiting_on_payment" %>
             <tr>
              <td><%= link_to invoice.name, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.start_date %></td>
              <td><%= invoice.end_date %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
  		</table>
  		</div>


  		<div class="span12">
    	<table class="table table-hover table-bordered table-condensed">
    		<caption><h5 class="pull-left">Overdue</h5> </caption>
    		<thead>
      			<tr>
              <th style="width: 30%">Invoice</th>
              <th style="width: 10%">$</th>
              <th style="width: 15%">Start Date</th>
              <th style="width: 15%">End Date</th>
              <th style="width: 15%">Payment Date</th>
              <th style="width: 15%">Days Overdue</th>
            </tr>
    		</thead>

    		<tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Overdue" %>
             <tr>
              <td><%= link_to invoice.name, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.start_date %></td>
              <td><%= invoice.end_date %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
  		</table>
  		</div>

  		<div class="span12">
    	<table class="table table-hover table-bordered table-condensed">
    		<caption><h5 class="pull-left">Closed</h5> </caption>
    		<thead>
      			<tr>
              <th style="width: 30%">Invoice</th>
              <th style="width: 10%">$</th>
              <th style="width: 15%">Start Date</th>
              <th style="width: 15%">End Date</th>
              <th style="width: 15%">Payment Date</th>
              <th style="width: 15%">Days to payment</th> 
            </tr>
    		</thead>

    		<tbody>
          <% @invoice.each do |invoice| %>
          <% if invoice.status == "Closed" %>
             <tr>
              <td><%= link_to invoice.name, deal_invoice_path(invoice.deal_id, invoice.id) %></td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.start_date %></td>
              <td><%= invoice.end_date %></td>
              <td><%= invoice.expected_payment_date %></td>
              <td><%= (invoice.expected_payment_date - Date.today).to_i %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
  		</table>
  		</div>

 	</div>
 </div>